<h1>Welcome to my web site!</h1>
<blockquote>You, the developer, should explain to a teacher, TA, or fellow student how Rails knows to render the home view.</blockquote>
<ol>
    <li>首先，瀏覽器發出請求、伺服器也收到了該請求。</li>
    <li>伺服器從 routes.rb 查找這個伺服器的根部首頁放在哪裡，並尋找該控制器。否則就是 You are using Rails.</li>
    <li>找到該控制器後，藉由控制器檢查有沒有 model 互動。本例沒有。</li>
    <li>藉由控制器檢查有沒有 view 檔案。</li>
    <li>透過 view 提供的 html.erb 檔案回傳渲染結果。</li>
</ol>
