<h1>Welcome to my web site!</h1>
<blockquote>You, the developer, should explain to a teacher, TA, or fellow student how Rails knows to render the home view.</blockquote>
<ol>
    <li>首先，瀏覽器發出請求、伺服器也收到了該請求。</li>
    <li>伺服器從 routes.rb 查找這個伺服器的根部首頁放在哪裡，並尋找該控制器。否則就是 You are using Rails.</li>
    <li>找到該控制器後，藉由控制器檢查有沒有 model 互動。本例沒有。</li>
    <li>藉由控制器檢查有沒有 view 檔案。</li>
    <li>透過 view 提供的 html.erb 檔案回傳渲染結果。</li>
</ol>
<hr/>
<%= link_to("Devise road", books_path) %>
<ol>
    <li>What is Devise? It's a gem that can add member feature.</li>
    <li>What files did Devise add to your rails app?</li>
    <li>Someone Who Knows: explain how to read the output of the command rake routes. What does it give you? How is it helpful? Copy&Paste Prefix to link_to, add Verb to method if want to change/delete file, refer Action to write it's html.erb</li>
    <li>How will you add the log out link? What's the syntax for a DELETE action? destroy_user_session => DELETE</li>
    <li>You're going to be editing your application layout to add error messaging. If you haven't already, discuss the relationship between the application layout and all the other views you'll be creating.</li>
</ol>
<hr/>
<dl>
    <dt>Chrome developer tools / Firefox Firebug plugin — how to use ’em!</dt>
    <dd>Click <kbd>F12</kbd> then hover your mouse. <a href="https://developer.mozilla.org/en-US/docs/Tools">Ref</a>.</dd>
</dl>
<dl>
    <dt>What’s Bootstrap and (optional) why is everyone totally in love with it (or at least using it all over the place)?</dt>
    <dd>First, Bootstrap is a CSS framework. Second, I am not everyone. This site build with <a href="https://imperavi.com/kube">Kube</a>. And why I use Kube? Because Kube is more customrise  than Bootstrap, easy to understand more things.</dd>
</dl>
<dl>
    <dt>Maybe review the home/index.html.erb view file as it relates to the layouts/application.html.erb view file again, and where you might want to make some edits to take advantage of Bootstrap.</dt>
    <dd>I use Kube. But, I make new navbar...</dd>
</dl>
<dl>
    <dt>Someone should explain how erb works — you'll be using it to show the user email address in right side</dt>
    <dd></dd>
</dl>
