<h1>Show!</h1>
<% @posts.each do |p| %>
    <p style="margin-left:1rem;"><%= link_to(p.title,posts_path(p.id) ) %>, <%= p.poster %> created at <%= p.created_at %>.</p>
<% end %>

<%= link_to("Create Post",new_posts_path) %>
